In [1]:
import pandas as pd
df=pd.read_csv("cricket_data.csv")

C:\Users\sujan\AppData\Local\Temp\ipykernel_29304\2221294462.py:2: DtypeWarning: Columns (9,16,20,21,22,24,25,26,27,28,29,30,31,32,45,46,59,60,73,74,87,88,90,91,92,95,96,97,98,99,100,101,102) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("cricket_data.csv")

In [2]:
df

,ID,NAME,COUNTRY,Full name,Born,Died,Current age,Major teams,Education,Height,...,BOWLING_T20s_Runs,BOWLING_T20s_Wkts,BOWLING_T20s_BBI,BOWLING_T20s_BBM,BOWLING_T20s_Ave,BOWLING_T20s_Econ,BOWLING_T20s_SR,BOWLING_T20s_4w,BOWLING_T20s_5w,BOWLING_T20s_10
0,8772,Henry Arkell,England,Henry John Denham Arkell,"\nJune 26, 1898, Edmonton, Middlesex","March 12, 1982, Oxford (aged 83 years 259 days)",NaN,Northamptonshire,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,532565,Richard Nyren,England,Richard Nyren,"\nApril 25, 1734, Eartham, Sussex","April 25, 1797, Lee or Leigh, Kent (aged 63 ye...",NaN,Hampshire XI,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16856,Sydney Maartensz,England,Sydney Gratien Adair Maartensz,"\nApril 14, 1882, Colombo, Ceylon","September 10, 1967, Pyrford, Woking, Surrey (a...",NaN,Hampshire,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16715,Brian Lander,England,Brian Richard Lander,"\nJanuary 9, 1942, Bishop Auckland, Co Durham",NaN,77 years 73 days,"['Durham,', 'Minor Counties']",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15989,Derek Kenderdine,England,Derek Charles Kenderdine,"\nOctober 28, 1897, Chislehurst, Kent","August 28, 1947, Cambridge (aged 49 years 304 ...",NaN,Royal Navy,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90303,19777,Keith Robinson,England,Keith Robinson,"\nDecember 17, 1933, Thirsk, Yorkshire",NaN,85 years 97 days,Combined Services,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90304,14843,Trevitt Hine-Haycock,England,Trevitt Reginald Hine-Haycock,"\nDecember 3, 1861, Little Heath, Old Charlton...","November 2, 1953, Bedford (aged 91 years 334 d...",NaN,"['Kent,', 'Oxford University']",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90305,15025,John Hughes,England,John Hughes,"\nJuly 2, 1825, Hertford","January 29, 1907, Hertford (aged 81 years 211 ...",NaN,South of England,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90306,11167,John Clayton,England,John Morton Clayton,"\nNovember 17, 1857, Chesterfield, Derbyshire","April 1, 1938, West Southbourne, Hampshire (ag...",NaN,Derbyshire,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90307,565677,H Clewitt,England,H Clewitt,\ndate unknown,NaN,NaN,Lincolnshire,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['ID', 'NAME', 'COUNTRY', 'Full name', 'Born', 'Died', 'Current age',
       'Major teams', 'Education', 'Height',
       ...
       'BOWLING_T20s_Runs', 'BOWLING_T20s_Wkts', 'BOWLING_T20s_BBI',
       'BOWLING_T20s_BBM', 'BOWLING_T20s_Ave', 'BOWLING_T20s_Econ',
       'BOWLING_T20s_SR', 'BOWLING_T20s_4w', 'BOWLING_T20s_5w',
       'BOWLING_T20s_10'],
      dtype='object', length=181)

In [6]:
for x in df.columns:
    print(x)

ID
NAME
COUNTRY
Full name
Born
Died
Current age
Major teams
Education
Height
Nickname
Playing role
Batting style
Bowling style
Other
Relation
In a nutshell
DESCRIPTION
AWARDS
BATTING_Tests_Mat
BATTING_Tests_Inns
BATTING_Tests_NO
BATTING_Tests_Runs
BATTING_Tests_HS
BATTING_Tests_Ave
BATTING_Tests_BF
BATTING_Tests_SR
BATTING_Tests_100
BATTING_Tests_50
BATTING_Tests_4s
BATTING_Tests_6s
BATTING_Tests_Ct
BATTING_Tests_St
BATTING_ODIs_Mat
BATTING_ODIs_Inns
BATTING_ODIs_NO
BATTING_ODIs_Runs
BATTING_ODIs_HS
BATTING_ODIs_Ave
BATTING_ODIs_BF
BATTING_ODIs_SR
BATTING_ODIs_100
BATTING_ODIs_50
BATTING_ODIs_4s
BATTING_ODIs_6s
BATTING_ODIs_Ct
BATTING_ODIs_St
BATTING_T20Is_Mat
BATTING_T20Is_Inns
BATTING_T20Is_NO
BATTING_T20Is_Runs
BATTING_T20Is_HS
BATTING_T20Is_Ave
BATTING_T20Is_BF
BATTING_T20Is_SR
BATTING_T20Is_100
BATTING_T20Is_50
BATTING_T20Is_4s
BATTING_T20Is_6s
BATTING_T20Is_Ct
BATTING_T20Is_St
BATTING_First-class_Mat
BATTING_First-class_Inns
BATTING_First-class_NO
BATTING_First-class_Runs
BATTING_First-class_HS
BATTING_First-class_Ave
BATTING_First-class_BF
BATTING_First-class_SR
BATTING_First-class_100
BATTING_First-class_50
BATTING_First-class_4s
BATTING_First-class_6s
BATTING_First-class_Ct
BATTING_First-class_St
BATTING_List A_Mat
BATTING_List A_Inns
BATTING_List A_NO
BATTING_List A_Runs
BATTING_List A_HS
BATTING_List A_Ave
BATTING_List A_BF
BATTING_List A_SR
BATTING_List A_100
BATTING_List A_50
BATTING_List A_4s
BATTING_List A_6s
BATTING_List A_Ct
BATTING_List A_St
BATTING_T20s_Mat
BATTING_T20s_Inns
BATTING_T20s_NO
BATTING_T20s_Runs
BATTING_T20s_HS
BATTING_T20s_Ave
BATTING_T20s_BF
BATTING_T20s_SR
BATTING_T20s_100
BATTING_T20s_50
BATTING_T20s_4s
BATTING_T20s_6s
BATTING_T20s_Ct
BATTING_T20s_St
BOWLING_Tests_Mat
BOWLING_Tests_Inns
BOWLING_Tests_Balls
BOWLING_Tests_Runs
BOWLING_Tests_Wkts
BOWLING_Tests_BBI
BOWLING_Tests_BBM
BOWLING_Tests_Ave
BOWLING_Tests_Econ
BOWLING_Tests_SR
BOWLING_Tests_4w
BOWLING_Tests_5w
BOWLING_Tests_10
BOWLING_ODIs_Mat
BOWLING_ODIs_Inns
BOWLING_ODIs_Balls
BOWLING_ODIs_Runs
BOWLING_ODIs_Wkts
BOWLING_ODIs_BBI
BOWLING_ODIs_BBM
BOWLING_ODIs_Ave
BOWLING_ODIs_Econ
BOWLING_ODIs_SR
BOWLING_ODIs_4w
BOWLING_ODIs_5w
BOWLING_ODIs_10
BOWLING_T20Is_Mat
BOWLING_T20Is_Inns
BOWLING_T20Is_Balls
BOWLING_T20Is_Runs
BOWLING_T20Is_Wkts
BOWLING_T20Is_BBI
BOWLING_T20Is_BBM
BOWLING_T20Is_Ave
BOWLING_T20Is_Econ
BOWLING_T20Is_SR
BOWLING_T20Is_4w
BOWLING_T20Is_5w
BOWLING_T20Is_10
BOWLING_First-class_Mat
BOWLING_First-class_Inns
BOWLING_First-class_Balls
BOWLING_First-class_Runs
BOWLING_First-class_Wkts
BOWLING_First-class_BBI
BOWLING_First-class_BBM
BOWLING_First-class_Ave
BOWLING_First-class_Econ
BOWLING_First-class_SR
BOWLING_First-class_4w
BOWLING_First-class_5w
BOWLING_First-class_10
BOWLING_List A_Mat
BOWLING_List A_Inns
BOWLING_List A_Balls
BOWLING_List A_Runs
BOWLING_List A_Wkts
BOWLING_List A_BBI
BOWLING_List A_BBM
BOWLING_List A_Ave
BOWLING_List A_Econ
BOWLING_List A_SR
BOWLING_List A_4w
BOWLING_List A_5w
BOWLING_List A_10
BOWLING_T20s_Mat
BOWLING_T20s_Inns
BOWLING_T20s_Balls
BOWLING_T20s_Runs
BOWLING_T20s_Wkts
BOWLING_T20s_BBI
BOWLING_T20s_BBM
BOWLING_T20s_Ave
BOWLING_T20s_Econ
BOWLING_T20s_SR
BOWLING_T20s_4w
BOWLING_T20s_5w
BOWLING_T20s_10

In [7]:
# Remove rows where all BATTING and BOWLING Mat columns are null or empty
bat_cols = ["BATTING_Tests_Mat", "BATTING_T20Is_Mat", "BATTING_ODIs_Mat"]
bowl_cols = ["BOWLING_Tests_Mat", "BOWLING_T20Is_Mat", "BOWLING_ODIs_Mat"]
def is_row_valid(row):
    return any(pd.notnull(row[c]) and str(row[c]).strip() != '' for c in bat_cols + bowl_cols)
df_cleaned = df[df.apply(is_row_valid, axis=1)]
df_cleaned

,ID,NAME,COUNTRY,Full name,Born,Died,Current age,Major teams,Education,Height,...,BOWLING_T20s_Runs,BOWLING_T20s_Wkts,BOWLING_T20s_BBI,BOWLING_T20s_BBM,BOWLING_T20s_Ave,BOWLING_T20s_Econ,BOWLING_T20s_SR,BOWLING_T20s_4w,BOWLING_T20s_5w,BOWLING_T20s_10
12,43860,Zulqarnain Haider,Pakistan,Zulqarnain Haider,"\nApril 23, 1986, Lahore",NaN,32 years 334 days,"['Pakistan,', 'Pakistan Telecommunication Comp...",NaN,NaN,...,-,-,-,-,-,-,-,-,-,-
18,23977,Zulfiqar Ali,East and Central Africa,Zulfiqar Ali,"\n1947, Mombasa, Kenya",NaN,72 years,East Africa,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1050037,Zumika Azmi,Malaysia,Zumika Azmi,"\nJune 19, 1998",NaN,20 years 277 days,Malaysia Women,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,779601,Yusrina Yaakop,Malaysia,Yusrina Binti Yaakop,"\nSeptember 24, 1993",NaN,25 years 180 days,Malaysia Women,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,318615,Zeeshan Siddiqui,Oman,Zeeshan Ahmed Siddiqui,"\nJuly 22, 1979, Karachi, Sind, Pakistan",NaN,39 years 244 days,Oman,NaN,NaN,...,140,12,3/16,3/16,11.66,7.36,9.5,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90262,52969,Ramnaresh Sarwan,West Indies,Ramnaresh Ronnie Sarwan,"\nJune 23, 1980, Wakenaam Island, Essequibo, G...",NaN,38 years 274 days,"['West Indies,', 'Gloucestershire,', 'Guyana,'...",NaN,NaN,...,22,2,2/10,2/10,11.00,7.33,9.0,0,0,0
90270,314622,Krishmar Santokie,West Indies,Krishmar Santokie,"\nDecember 20, 1984, Clarendon, Jamaica",NaN,34 years 94 days,"['West Indies,', 'Guyana Amazon Warriors,', 'J...",NaN,NaN,...,2831,167,5/24,5/24,16.95,7.09,14.3,6,1,0
90284,52922,Robert Samuels,West Indies,Robert George Samuels,"\nMarch 13, 1971, Kingston, Jamaica",NaN,48 years 11 days,"['West Indies,', 'Jamaica']",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90287,52983,Marlon Samuels,West Indies,Marlon Nathaniel Samuels,"\nFebruary 5, 1981, Kingston, Jamaica",NaN,38 years 47 days,"['West Indies,', 'Antigua Hawksbills,', 'Comil...",NaN,NaN,...,1957,70,3/10,3/10,27.95,7.17,23.3,0,0,0
90302,47213,Ian Smith,South Africa,Vivian Ian Smith,"\nFebruary 23, 1925, Durban, Natal","August 25, 2015, Eston, Pietermaritzburg distr...",NaN,"['South Africa,', 'Natal']",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN